body {
    font-family: Arial, sans-serif;
    background-color:#232946;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container{
    border: 3px  solid rgb(177, 177, 177);
    align-items: center;
    height: 50vh;
    width: 65vh;
    margin-top: 30vh;
    background-color: #cdcdcd;
    box-shadow: 2px 3px 5px black;
    border-radius: 90px;
}

.login1{
    font-family: 'Montserrat' , serif;
color:aqua;
text-align: center;
font-size: 50px;
margin-top:25% ;
}

.form-group{
    text-align: center;
    margin-top: 50px;
    justify-content: center;
    margin-left: 60px;
}
img.picture{
    
    border: 1px  solid #000;
    box-shadow: 2px 2px 5px #888888;
    width: 290px;
    height: 300px;
    margin: 10px 180px 0px;
    position: absolute;
    top: 25vh;
    left: 47%;
    bottom: 60%;
    transform: translateX(-90%);
    border-radius: 70%;
}
.login{
    text-align: center;

}
.form-container{
    display: flex;
    justify-content: center;
}
input{
    font-size: 15px;
    border-radius: 5px;
}
input.login-button{
    margin-top: 190px;
    margin-right: 40px;
    width: 100px;
}
.video1{
    margin-left: 60px;    
}
